<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-3 mb-md-0">
          <h5>About Us</h5>
          <p>We are a platform dedicated to sharing secrets anonymously and safely. Share your thoughts without any fear of being judged.</p>
        </div>
        <div class="col-md-4 mb-3 mb-md-0">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li>Email: <a href="mailto:support@secrets.com" class="text-white">support@secrets.com</a></li>
            <li>Phone: +91-7499389302</li>
            <li>Address: Shivsparsh Heights, Near Sinhgad College of Science, Pune-411041</li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Follow Us</h5>
          <ul class="list-unstyled d-flex justify-content-center">
            <li class="mr-3"><a href="#" class="text-white"><i class="fab fa-facebook fa-2x"></i></a></li>
            <li class="mr-3"><a href="#" class="text-white"><i class="fab fa-twitter fa-2x"></i></a></li>
            <li class="mr-3"><a href="#" class="text-white"><i class="fab fa-instagram fa-2x"></i></a></li>
            <li class="mr-3"><a href="#" class="text-white"><i class="fab fa-linkedin fa-2x"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col text-center">
          <p>&copy; <%= new Date().getFullYear() %> Secrets. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  